@import "../../settings/variable.scss";

.theme-default-left {
  background-color: $background-base-light;
}

.theme-default-top {
  background-color: $background-base;
}

.theme-default-content {
  background-color: $background-base-dark;
}